<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627079362503-juslol5o5odeki2agop3705pn6rfsb5n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627079362503-juslol5o5odeki2agop3705pn6rfsb5n</string>
	<key>API_KEY</key>
	<string>AIzaSyBZr5HTRVFmZL8U_8I1WvRaYzNjK8lBM7Y</string>
	<key>GCM_SENDER_ID</key>
	<string>627079362503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.coredb.databag</string>
	<key>PROJECT_ID</key>
	<string>databag-b46e0</string>
	<key>STORAGE_BUCKET</key>
	<string>databag-b46e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627079362503:ios:a3ddad40939b71a44a8be2</string>
</dict>
</plist>