.accounts {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .content {
    width: 100%;
    max-width: 650px;

    .header {
      height: 48px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-left: 16px;
      padding-right: 16px;
      border-bottom: 2px solid var(--mantine-color-text-8);

      .centerTitle {
        flex-grow: 1;
        display: flex;
        justify-content: center;
      }

      .title {
        padding-left: 16px;
        padding-right: 16px;
        font-size: 20px;
      }
      .area {
        flex-grow: 1;
      }
      .loader {
        width: 32px;
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }
  }

  .option {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    height: 48px;

    .label {
      font-size: 16px;
    }
    
    .value {
      padding-left: 24px; 
      flex-grow: 1;
    }

    .radio {
      padding-left: 24px;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 8px;
    }
  }
}
