.accounts {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .member {
    height: 40px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid var(--mantine-color-text-8);
    font-size: 14px;

    &:hover {
      background-color: var(--mantine-color-surface-2);
    }
  }

  .action {
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 2px;
    padding-right: 2px;
  }

  .content {
    width: 100%;
    max-width: 800px;
    height: 100%;
    display: flex;
    flex-direction: column;

    .header {
      height: 48px;
      flex-shrink: 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-left: 16px;
      padding-right: 16px;
      border-bottom: 2px solid var(--mantine-color-text-8);

      .leftTitle {
        flex-grow: 1;
        display: flex;
        justify-content: flex-start;
      }

      .centerTitle {
        flex-grow: 1;
        display: flex;
        justify-content: center;
      }

      .title {
        font-size: 20px;
        padding-left: 8px;
        padding-right: 8px;
      }
      .area {
        flex-grow: 1;
      }
    }

    .members {
      flex-grow: 1;
      min-height: 0;
      overflow: auto;
      padding-top: 8px;
    }

    .line {
      width: 100%;
    }
  }
}
