.active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 201;
  background-color: var(--mantine-color-surface-2);
}

.inactive {
  display: none;
}

.card {
  width: 100%;
  height: 48px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
}

.off {
  transform: rotate(135deg);
}

.space {
  position: relative;
  top: 4px;
  padding: 8px;
}

.calling {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .title {
    position: absolute;
    top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    .name {
      font-size: 32px;
    }
  }

  .logo {
    position: absolute;
    max-width: 50%;
    height: 50%;
    aspect-ratio: 1;
    top: 92px;
    border-radius: 16px;
  }

  .buttons {
    position: absolute;
    bottom: 64px;
    display: flex;
    flex-direction: row;
    padding: 16px;
    gap: 24px;
    background-color: var(--mantine-color-surface-4);
    border-radius: 8px;
  }

  .status {
    position: absolute;
    bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .video {
    top: 0;
    left: 0;
    position: absolute;
    background-color: var(--mantine-color-surface-4);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .full {
    width: 100%;
    height: 100%;
  }
}

