.conversation {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--mantine-color-text-7);
    height: 48px;
    flex-shrink: 0;
    width: calc(100% - 32px);
    margin-left: 16px;
    margin-right: 16px;
  }

  .frame {
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
  }

  .thread {
    padding-top: 1024px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
  }

  .progressDivider {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
    width: calc(100% - 32px);
    height: 2px;
  }

  .divider {
    width: 100%;
    border-top: 1px solid var(--mantine-color-text-7);
    border-bottom: 1px solid var(--mantine-color-text-7);
  }

  .progress {
    position: absolute;
    top: 0;
    border-top: 1px solid var(--mantine-color-dbgreen-1);
    border-bottom: 1px solid var(--mantine-color-dbgreen-1);
  }

  .topSpinner {
    top: 64px;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bottomSpinner {
    top: 64px;
    height: calc(100% - 64px);
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .add {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
  }

  .staging {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .close {
    cursor: pointer;
    padding-top: 2px;
    position: relative;
  }

  .settings {
    width: 32px;
    height: 100%;
    display: flex;
    flex-direction: row;
    color: var(--mantine-color-dbgreen-1);
  }

  .status {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 12px;
  }

  .control {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .title {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  .unknown {
    font-style: italic;
  }

  .label {
    font-size: 22px;
    text-align: center;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .files {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .message {
    width: calc(100% - 32px);
    margin: 16px;
  }

  .controls {
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
  }

  .attach {
    padding: 4px;
    width: 32px;
    height: 32px;
  }

  .send {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
