.mfa {
  display: flex;
  flex-direction: column;
  align-items: center;

  .mfaTitle {
    font-size: 1.5rem;
  }

  .mfaPin {
    padding-top: 32px;
  }

  .mfaDescription {
    font-size: 1.1rem;
  }

  .mfaControl {
    display: flex;
    gap: 8px;
  }

  .mfaDisabled {
    height: 48px;
    display: flex;
    align-items: center;
    color: var(--mantine-color-red-6);
  }
}

.split {
  display: flex;
  height: 100%;

  .right {
    flex: 1;
    height: 100%;
    overflow: scroll;
  }

  .frame {
    position: relative;
    height: 100%;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 8px;

    .input {
      width: 50%;
      margin: 4px;
    }

    .hidden {
      width: 50%;
      margin: 4px;
      opacity: 0;
      z-index: -10;
    }

    .title {
      position: absolute;
      top: 0;
      margin: 64px;
    }

    .submit {
      width: 20%;
      min-width: fit-content;
    }

    .float {
      position: absolute;
      right: 0;
      top: 0;
      margin-top: 8px;
    }

    .settings {
      display: flex;
      flex-direction: row;
      gap: 16px;
      position: absolute;
      margin: 16px;
      bottom: 0;
    }
  }

  .left {
    flex: 1;
    height: 100%;
    background-color: #90bea7;

    .splash {
      height: 100%;
    }
  }
}
