.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  gap: 8px;

  .cursor {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    gap: 4px;
    cursor: pointer;
    width: 1%;
  }

  .nocursor {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    gap: 4px;
    cursor: default;
    width: 1%;
  }

  .details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
    padding-left: 8px;
    padding-right: 8px;
  }

  .image {
    width: auto;
    height: 100%;
  }

  .nameSet {
    font-size: 16px;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .nameUnset {
    font-size: 16px;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-style: italic;
    color: var(--mantine-color-text-7);
  }

  .handle {
    font-size: 12px;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
  }
}
