.asset {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  .play {
    position: absolute;
  }

  .thumb {
    width: auto;
    height: 128px;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(8, 8, 8, 0.5);
  backdrop-filter: blur(33px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: all 400ms;

  .progress {
    position: absolute;
    bottom: 16px;
    width: 25%;
  }

  .close {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  .video {
    position: absolute;
  }

  .frame {
    position: absolute;
    width: 80vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .image {
      width: 80vw;
      height: 80vh;
      background-color: transparent;
      object-fit: contain;
    }
  }
}
