example.com {
	header Content-Type text/html
	respond <<HTML
		<html>
			<head>
				<title>Databag</title>
				<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
			</head>
			<body>
				<h1>Welcome to my databag server!</h1>
				<p>Start messaging now from <a href="https://example.com:7000">here</a></p>
			</body>
		</html>
		HTML 200
}

https://example.com:7000 {
	reverse_proxy http://app:7000
}
