.topic {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 8px;

  .media {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .goleft {
      position: absolute;
      left: 32px;
    }

    .goright {
      position: absolute;
      right: 32px;
    }
  }

  .assets {
    width: 100%;
    height: 128px;
    padding-left: 72px;
    padding-right: 32px;
    margin-top: 8px;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    margin-bottom: 8px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    flex-direction: row;
  }

  .assets::-webkit-scrollbar {
    display: none;
  }

  .thumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    gap: 16px;
  } 

  .failed {
    margin-left: 72px;
    margin-right: 32px;
    margin-top: 8px;
    border-radius: 8px;
    color: var(--mantine-color-red-9);
    display: flex;
    gap: 8px;
  }

  .incomplete {
    margin-left: 72px;
    margin-right: 32px;
    margin-top: 8px;
  }

  .content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: calc(100% - 32px);
    margin-left: 16px;
    margin-right: 16px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 12px;
    border-top: 1px solid var(--mantine-color-text-8);
    
    .logo {
      width: 40px;
      height: 40px;
    }

    .body {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      padding-left: 8px;
      padding-right: 8px;
      min-width: 0;

      .text {
        word-wrap:break-word;
        white-space: pre-wrap;
      }

      .locked {
        font-style: italic;
        color: var(--mantine-color-text-7);
      }

      .unconfirmed {
        width: 100%;
      }
    
      .header {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        line-height: 16px;
        padding-bottom: 4px;
        gap: 16px;
        position: relative;

        &:hover {
          .options {
            display: flex;
            flex-grow: 1;
            justify-content: flex-end;
          }
        }

        .options {
          display: none;
          position: absolute;
          top: 0;
          right: 0;
        }

        .surface {
          display: flex;
          background-color: var(--mantine-color-surface-4);
          gap: 10px;
          padding-top: 4px;
          padding-bottom: 4px;
          padding-left: 8px;
          padding-right: 8px;
          border-radius: 4px;
        }

        .option {
          cursor: pointer;
          width: 20px;
          height: 20px;
          color: var(--mantine-color-dbgreen-1);
        }
    
        .careful {
          cursor: pointer;
          width: 20px;
          height: 20px;
          color: var(--mantine-color-red-2);
        }

        .name {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 8px;

          .timestamp {
            font-size: 0.8rem;
          }

          .unknown {
            font-style: italic;
            color: var(--mantine-color-text-7);
          }
        }
      }
    }
  }
}
